*{
     font-family: 'Montserrat', sans-serif;
}

nav {
	background-color: rgb(178, 216, 250);
}
 
body{
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

h3 {
     margin: 50px;
}