*{
     font-family: 'Montserrat', sans-serif;
}

.container h4 {
     font-weight: bold;
}

.container {
     width: 35% !important;
     margin-top: 9%;
     box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
     padding: 30px;
     border-radius: 5%;
 
     background-color: aliceblue;
     opacity: 90%;
}
 
body{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    width: 30%;
    margin-top: 10px !important;
}

label {
    padding: 0px 0px 5px 5px ;
}

.container form input {
    margin-bottom: 10px !important;
}